<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>Failed Login</title>
</h:head> 
	<ui:composition template = "/layouts/commonLayout.xhtml">	
	<ui:define name = "commonContent">
	<body style="background-color: #acc"> 
	Failed login.
	</body> 
	</ui:define>	
	</ui:composition> 
</html>
